body{
  background:
  url(https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80)
}
h1{
  color: red
  text-align:center;
}
table{
  margin: auto;
  border: 2px solid red;
  color: red
}
